<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="gosseBean"
          class="com.hakimov.hunting.Gosse">
        <constructor-arg value="Gosse"></constructor-arg>
    </bean>

    <bean id="goatBean"
          class="com.hakimov.hunting.Goat">
        <constructor-arg value="Goat"></constructor-arg>

    </bean>

    <bean id="frogBean"
          class="com.hakimov.hunting.Frog">
        <constructor-arg value="Frog"></constructor-arg>
    </bean>

    <bean id="hunterBean"
          class="com.hakimov.hunting.Hunter">
        <property name="currentAnimal" ref="goatBean"/>
    </bean>


</beans>